#main-content {
    margin-top:50px;
}
.conteudo {
    background-color: red;
}
#lyrics {
    padding-left: 30px;
}
#title {
    font-family: 'Potta One', cursive;
    margin-top:150px;
    margin-bottom: 30px;
}